<a href="https://colab.research.google.com/github/emilyperras/ECON5200-Applied-Data-Analytics-in-Economics/blob/main/notebooks/01_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# read the fixed-width dataset
df = pd.read_fwf("public.dat")

# show first rows
df.head()

,46,1,0,0.1,0.2,0.3,0.4,1.1,0.5,0.6,...,0.08,1.6,2.1,6.50.1,16.50.1,1.03.2,..3,0.94,4,4.1
0,49,2,0,0,0,0,0,1,0,0,...,0.05,0,2,10.00,13.00,1.01,0.89,2.35,4,4
1,506,2,1,0,0,0,0,1,0,0,...,0.25,.,1,11.00,11.00,0.95,0.74,2.33,4,3
2,56,4,1,0,0,0,0,1,0,0,...,0.15,0,2,10.00,12.00,0.92,0.79,0.87,2,2
3,61,4,1,0,0,0,0,1,0,0,...,0.15,0,2,10.00,12.00,1.01,0.84,0.95,2,2
4,62,4,1,0,0,0,0,1,0,0,...,.,0,2,10.00,12.00,.,0.84,1.79,3,3